* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 1200px;
}

#carouselExampleControls {
  width: 65vw;
  margin-top: 20px;
}

.product-1,
.product-2,
.product-3 {
  height: 550px;
}

.product1_img {
  height: 400px;
  margin-top: 15px;
  margin-bottom: 20px;
}
